[Desktop Entry]
Type=Application
Name=CGI SHell Environment
Name[pt]=Ambiente SHell CGI
Name[pt_BR]=Ambiente SHell CGI
Name[ru]=Переменные окружения CGI
Exec=browser http://localhost/cgi-bin/cgi-env.sh
Icon=text-x-script
Categories=Development;WebDevelopment;
